/*-- RESET --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Chettan 2', cursive;
}

/*== NAVIGATION ==*/

.side-menu {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: left 0.7s;
  background-color: #222e3c;
  
}

.smallImage {
  font-size: 2rem;
}

.header-bar {
  margin-left: 280px;
  transition: margin-left 0.7s;
  height: 70px;
  background-color: white;
}

.main-color {
  color: #868d96
}

header {
  width: 100%;
}

.header-items {
  width: 100%;
}

/*== MAIN PAGE CONTENT ==*/

.main-content {
  margin-top: 3px;
  height: 50%;
  margin-left: 280px;
  transition: margin-left 0.7s;
}

.card-width {
  width: 42rem;
}


.sub {
  cursor: pointer;
}


/*== MEDIA QUERIES ==*/

@media only screen and (max-width: 900px) {
  .side-menu {
    left: -280px;
    transition: left 0.7s;
    background-color: #222e3c;
    
  }

  .main-content {
    margin-left: 0px;
    transition: margin-left 0.7s;
  
  }

  .header-bar {
    margin-left:0px;
    transition: margin-left 0.7s;
  }

}